/*ids*/
#score{
    height:75px;
    width:100px;
    right:100px;
    position: absolute;
    background-color: greenyellow;
    border-radius: 5%;
    text-align: center;
}

#scoreValue{
    
}

#correct{
    height:75px;
    width:100px;
    position: absolute;
    background-color: greenyellow;
    border-radius: 5%;
    display: none;
}

#wrong{
    height:75px;
    width:100px;
    position: absolute;
    background-color: red;
    border-radius: 5%;
    display: none;
}

#question{
    height:250px;
    width:100%;
    margin:100px 0 10px 0;
    background-color: blue;
    border-radius: 1%;
}

#directions{
    height:100px;
    width:100%;
    margin:auto;
    background-color: blueviolet;
    border-radius: 1%;
}

#answers{
    height:150px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:auto;
}

#answer button{
    height:50px;
    width:50px;
}

#bottom{
    height:100px;
    width: 100%;
    margin: 0 auto;
}

#startButton{
    height:50px;
    width:100px;
    position: absolute;
    left: 45%;
}

#timer{
    height:50px;
    width:200px;
    background-color: greenyellow;
    position: absolute;
    right: 100px;
    border-radius: 2%;
    text-align: center;
}

#timeLeft{

}

#endGameMsg{
    height: 200px;
    width: 50%;
    text-align :center;
    font-size: 2.5em;
    position: absolute;
    background-color: orange;
    top:100px;
    left: 25%;
    display:none;
}

/*classes*/
.container{
    height:800px;
    width: 70vw;
    margin:auto;
    padding: 10px 100px 10px 100px;
    justify-content: center;
    background-color: skyblue;
    border-radius: 1%;
    position: relative;
}

.answerItem{
    margin: 10px;
    height:100px;
    flex-basis: 25%;
    border:none;
    border-radius: 2%;
    transition: .3s;
}

.answerItem:hover{
    background-color: blueviolet;
    height: 120px;
    color: white;
}